        {{ $style := resources.Get "css/main.scss" | resources.ToCSS (dict "outputStyle" "compressed") | resources.Fingerprint }}
        {{ $fonts := resources.Get "css/fonts.scss" | resources.ToCSS (dict "outputStyle" "compressed") | resources.Fingerprint }}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/icon.png">
        <link rel="stylesheet" type="text/css" href="{{ $fonts.Permalink }}" integrity="{{ $fonts.Data.Integrity }}">
        <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
        <link rel="stylesheet" type="text/css" href="/css/syntax.css">
        <link rel="me" href="https://synthwave.social/@depthbuffer">
{{- if eq .Type "posts" }}
        {{ partial "twitter-card.html" . }}
{{- end -}}
