        <header class="top">
            <!-- TODO Nav partial -->
            <div class="title">
                <h1>DEPTHBUFFER</h1>
            </div>
            <nav class="menu">
                <input type="checkbox" class="menu-open" id="menu-open"/>
                <label class="menu-open-button" for="menu-open">
                    <span class="burger-1"></span>
                    <span class="burger-2"></span>
                    <span class="burger-3"></span>
                    <span class="shadow burger-1"></span>
                    <span class="shadow burger-2"></span>
                    <span class="shadow burger-3"></span>
                </label>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="https://depthbuffer.bandcamp.com/">Bandcamp</a></li>
                    <li><a href="https://twitter.com/DepthbufferM">Twitter</a></li>
                    <li><a href="https://www.youtube.com/channel/UCSjfqFBuNDXKaci1hpGfugg">YouTube</a></li>
                    <li><a href="https://www.instagram.com/depthbuffer/">Instagram</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/archive">Archive</a></li>
                    <li><a href="https://www.mangobrain.co.uk/">More Nerd Stuff</a></li>
                </ul>
            </nav>
        </header>
