        <div class="menu">
            <div>
                <a href="/">Home</a>
            </div>
            <div>
                <img src="/bandcamp-button-circle-green-32.png" alt="Bandcamp logo" width="32" height="32">
                <small>Listen to my music on<br></small>
                <a href="https://depthbuffer.bandcamp.com/">
                    Bandcamp
                </a>
            </div>
            <div>
                <img src="/twitter-icon.svg" alt="Twitter logo" width="32" height="32">
                <small>Chat to me on<br></small>
                <a href="https://twitter.com/DepthbufferM">Twitter</a><br>
                <a class="twitter-timeline" data-width="288" data-height="480" data-dnt="true" data-theme="dark" href="https://twitter.com/DepthbufferM?ref_src=twsrc%5Etfw" style="display: none"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div>
                <img src="/youtube-icon-32.png" alt="YouTube logo" width="32" height="32">
                <small>Sometimes I post videos on<br></small>
                <a href="https://www.youtube.com/channel/UCSjfqFBuNDXKaci1hpGfugg">YouTube</a>
            </div>
            <div>
                <img src="/instagram-icon-32.png" alt="Instagram logo" width="32" height="32">
                <small>Occasionally I remember I'n on<br></small>
                <a href="https://www.instagram.com/depthbuffer/">Instagram</a>
            </div>
            <div>
                <a href="/about">About</a>
            </div>
            <div>
                <a href="/archive">Archive</a>
            </div>
            <div>
                <img src="https://www.mangobrain.co.uk/icon.png" alt="Mangobrain logo" width="32" height="32">
                <small>I have another site, because I am a<br></small>
                <a href="https://www.mangobrain.co.uk/">NEEEEEERD</a>
            </div>
        </div>
