{{ define "main" }}
    <!-- TODO: Responsive layout.
         - Small: single column, no right menu
         - Medium: single column, right menu
         - Large: three columns, right menu -->
    <div class="main-container">
        <div class="postlist-container">
            {{ $pag := .Paginate (where site.RegularPages "Type" "in" "posts") }}
            {{ range $pag.Pages }}
            <div class="postlist-item" href="#">
                <article itemscope itemtype="http://schema.org/BlogPosting" class="postlist-item">
                    <header>
                        <h1 itemprop="name headline">{{ .Title }}</h1>
                        <p class="post-header">
                            {{ $date := .Date.Format "2006-01-02" }}
                            <time datetime="{{ $date }}" itemprop="datePublished">
                                {{ $date }}
                            </time>
                        </p>
                    </header>
                    {{ .Summary }}
                    {{ if .Truncated }}&hellip;{{ end }}
                </article>
            </div>
            {{ end }}
            <!-- TODO: Figure out how to handle additional pages -->
        </div>
{{ partial "menu" }}
    </div>
{{ end }}
