{{ define "main" }}
    <div class="main-container">
        <div class="archive">
            <div class="archive-type">Chronological | <a href="/tags">Tags</a></div>
        {{- range (where site.RegularPages "Type" "in" "posts").GroupByDate "2006" }}
            <div class="archive-year">
                <h1>{{ .Key }}</h1>
                <ul>
                {{- range .Pages.ByDate.Reverse }}
                    <li>
                        <div class="post-list-item">
                            <div class="post-title">
                                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                            </div>
                            <time class="post-date">{{ .Date.Format "2006-01-02" }}</time>
                        </div>
                    </li>
                {{- end }}
                </ul>
            </div>
        {{- end }}
        </div>
{{ partial "menu" }}
    </div>
{{ end }}
